$contentMd: 327px;
$contentS: 84px;

$fontMd: 20px;
$fontS: 14px;

$bgAuthorize:rgba(73, 119, 208, 0.53);
$bgInfo:rgba(168, 115, 28, 0.54);
$bgSuccess:rgba(84, 193, 118, 0.53);
$bgAdditional:rgba(253, 228, 127, 0.53);